#main {
    width: 100%;
    display: grid;
    grid-template-rows: 40px 70px 50px 350px 220px repeat(3, 400px) 320px 470px 500px;


}

#box1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topleft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    margin-left: 30px;
}

.topright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    margin-right: 30px;
}



.topleft>a,
.topright>a {
    text-decoration: none;
    color: black;

}


.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown>a {
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 10px;
}

.dropdown-content p {
    color: black;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .fa-angle-down {
    transform: rotate(180deg);
}





.topright>a:hover,
.topleft>a:hover {
    text-decoration: underline;
}


#box2 {
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box2>img {
    width: 110px;
    height: 50px;
    margin-left: 20px;

}

.secondtopRight {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    position: relative;
}

.secondtopRight>:nth-child(1) {
    cursor: pointer;
    color: gray;
}

.secondtopRight>:nth-child(1):hover {
    color: blue;
}

.secondtopRight>:nth-child(3) {
    position: absolute;
    left: 100px;
}

.secondtopRight>:nth-child(4) {
    width: 650px;
    height: 40px;
    border: 2px solid grey;
    padding-left: 40px;
}

.secondtopRight>:nth-child(5) {
    position: absolute;
    right: 235px;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 1px solid black;
    padding: 5px 10px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.secondtopRight>button {
    width: 150px;
    height: 45px;
    background-color: blue;
    color: white;
    border: none;

}


#box3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;

}

#box3>a {
    text-decoration: none;
    margin: 11px;
    color: rgb(62, 57, 57);
}

#box3>a:hover {
    color: blue;
    text-decoration: underline;
}




#box4 {
    width: 100%;
    overflow: hidden;

}

.slides {
    display: flex;
    width: 100%;
    animation: slider 15s linear infinite backwards  ;

}

.slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftpart {
    margin-top: 30px;
    margin-left: 50px;
}

.leftpart>button {
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: #1abc9c;
    cursor: pointer;

}


.rightpart {
    display: flex;
    align-items: center;

}

.rightpart>img {
    height: 350px;
}


.slide {
    width: 100%;
    height: 350px;
    flex-shrink: 0;
}




@keyframes slider {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    30% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);

    }
}


#box5 {
    width: 90%;
    height: 130px;
    margin: 50px auto;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

#box5>div {
    margin-left: 40px;
}

#box5>div>p {
    margin-top: 4px;
    color: rgb(20, 20, 83);
}

#box5>div>h2 {
    margin-bottom: 7px;
    color: rgb(18, 18, 88);
}

#box5>button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-right: 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(7, 7, 56, 0.68);
    color: azure;
}

#box6 {
    width: 100%;
    overflow: hidden;
    margin: auto;
}


#container {
    width: 95%;
    display: flex;
    overflow: hidden;
    margin: auto;
}

#container:hover {
    overflow-x: auto;

}

@media all and (min-width:450px) and (max-width:850px) {}


#container>div {
    width: 200px;
    height: 270px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

#container>div>img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#container>div>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}


#box7 {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#container2 {
    width: 95%;
    display: flex;
    overflow: hidden;
    margin: auto;
}

#container2:hover {
    overflow-x: auto;

}

#container2>div {
    width: 200px;
    height: 230px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

#container2>div>img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#container2>div>img {
    width: 190px;
    height: 190px;
    border-radius: 50%;

}




#box8 {
    width: 100%;
    overflow: hidden;
}


#container3 {
    display: flex;
    width: 95%;
    height: 440px;
    margin: auto;
    overflow: hidden;
}

#container3:hover {
    overflow-x: auto;
}

#container3>:nth-child(1) {
    width: 300px;
    height: 350px;

}

#container3>:nth-child(1)>div {
    width: 230px;
    height: 220px;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
    border-radius: 20px;

}

#container3>:nth-child(1)>div>h2 {
    margin: 0px;
}

#container3>:nth-child(1)>div>button {

    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}


#container3>div {
    width: 220px;
    height: 250px;
    margin: 30px;
    text-align: center;
    cursor: pointer;
}

#container3>div>img {
    width: 240px;
    height: 240px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;

}

#box9 {
    width: 100%;
}


#box {
    border: 1px solid black;
    width: 65%;
    height: 250px;
    margin: 30px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#box>:nth-child(1) {
    margin-left: 30px;
    margin-top: -40px;

}

#box>:nth-child(1)>h2 {
    margin-top: -10px;
    color: blue;
}

#box>:nth-child(1)>h3 {
    margin-top: -15px;
}



#box>:nth-child(1)>p {
    color: grey;
}

#box>:nth-child(1)>button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

#box>:nth-child(1)>button:hover {
    background-color: black;
    color: white;
}



#box>:nth-child(2)>img {
    width: 150px;
    height: 250px;
    margin: -2px;
    margin-top: 2px;
}

#box10 {
    width: 100%;

}

#cartimg {
    width: 100%;
    height: 450px;
}

#cartimg>div {
    position: absolute;
    left: 50px;
    margin-top: 50px;

}

#cartimg>div>button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    border: none;
    font-weight: bold;

}



#cartimg>img {
    width: 100%;
    height: 450px;
}



#box11 {
    width: 100%;
    border-top: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.2);
}

#footer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;



}

.first {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
    margin-top: 60px;
    padding-left: 20px;


}

.first>a {
    text-decoration: none;


}

.second {

    width: 20%;
    margin-top: 60px;

    padding-left: 20px;


}

.second>div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.second>div>a {
    text-decoration: none;
}

.third {
    width: 20%;
    margin-top: 60px;
    padding-left: 20px;


}

.third>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.third>div>a {
    text-decoration: none;
}

.fourth {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
    padding-left: 20px;

}

.fourth>a {
    text-decoration: none;
}

.fifth {
    width: 20%;
    margin-top: 60px;
    padding-left: 20px;


}

.fifth>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fifth>div>a {
    text-decoration: none;
}